<div class="container" style="margin: 100px;margin-bottom: 250px;">
  <div class="card">
    <div class="card-header">
    <h5>Kiralama Aralığı</h5>
    </div>
    <div class="card-boady">
      <form [formGroup]="rentalAddForm">
        <div class="form-group col-md-6">
          <label for="rentDate" class="form-label">Pick Up Date</label>
          <div class="form-group mb-3">
            <input class="form-control" type="date" id="rentDate" formControlName="rentDate"  />
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="returnDate" class="form-label">Delivery Date</label>
          <div class="form-group mb-3">
            <input type="date" id="returnDate" formControlName="returnDate" class="form-control" />
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="button" style="float: right;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Next
      </button>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="status">
       Bu Araba Kiralanamak İçin Uygundur Lütfen Ödeme Sayfasına gitmek için Ödeme Butonuna Tıklayınız.
       Bizi Tercih ettiğiniz için teşekkürler.
      </div>
      <div class="modal-body">
        Bu Araba Kiralanamaz Şuan Kiralık Durumdadır Lütfen Daha Sonra Tekrar Deneyiniz.
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addRental()" *ngIf="status">Ödeme</button>
      </div>
    </div>
  </div>
</div>

