<ul class="list-group">
  <li
    (click)="clearCurrentColor()"
    [class]="getAllColorClass()"
    routerLink="/cars"
    aria-current="true"
  >
    All Colors
  </li>
  <div>
    <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="filterColor" placeholder="search color..">
  </div>
  <li
    (click)="setCurrentColor(color)"
    [class]="getCurrentColorClass(color)"
    routerLink="/cars/color/{{color.colorId}}"
    *ngFor="let color of colors | filterColor:filterColor"

  >
    {{ color.colorName }}
  </li>
</ul>
