<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title text-center">Brand Delete Panel</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="brandDeleteForm">
          <div class="mb-3">
            <label for="brandId" style="display: none"><b>Brand Id</b></label>
            <input
              type="number"
              id="brandId"
              formControlName="brandId"
              class="form-control"
              [(ngModel)]="brandId"
              style="display: none"
            />
          </div>
        </form>
        <table class="table container">
          <thead>
            <tr>
              <th style="text-align: center">Id</th>
              <th style="text-align: center">Brand</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="brand">
              <td style="text-align: center">{{ brand.brandId }}</td>
              <td style="text-align: center">{{ brand.brandName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-dark" (click)="backToList()">
          Geri dön
        </button>
        <button
          class="btn btn-fill btn-danger"
          style="float: right"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-backdrop="static"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Brand</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this brand?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">I'm sure Delete </button>
      </div>
    </div>
  </div>
</div>
