<nav class="navbar navbar-expand-lg navbar-dark" id="navbarr">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sports Car Rental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/cars/list">Car</a></li>
            <li>
              <a class="dropdown-item" routerLink="/colors/list">Color</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/brands/list">Brand</a>
            </li>
          </ul>
        </li>
      </ul>
      <div *ngIf="!isLogin()">
        <button
          type="button"
          class="btn btn-secondary me-2"
          routerLink="/login"
        >
          <i class="fa fa-sign-in"></i> Login
        </button>
        <button type="button" class="btn btn-warning" routerLink="/register">
          <i class="fa fa-user"></i> Register
        </button>
      </div>
      <div class="dropdown text-end" *ngIf="isLogin()">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> <span style="color: aliceblue;"> {{currentUser}}</span>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" (click)="logOut()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
