<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Responsive Footer Section | CodingNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>Hakkımda</h2>
          <div class="content">
            <p class="text-white">
              Engin Demiroğ'un 3 Aylık Kampına Paralel Olarak Geliştirmiş
              Olduğum Tamamen SOLİD Prensipleri ile yazılmış,BackEnd de C#
              Kullandığım FrontEnd Kısmın da Angular Kullandığım Araba Kiralama
              Sitesi Web Projesi.
            </p>
            <div class="social">
              <a href="https://facebook.com/coding.np"
                ><span class="fa fa-github"></span
              ></a>
              <a href="#"><span class="fa fa-twitter"></span></a>
              <a href="https://instagram.com/coding.np"
                ><span class="fa fa-instagram"></span
              ></a>
              <a href="https://youtube.com/c/codingnepal"
                ><span class="fa fa-linkedin"></span
              ></a>
            </div>
          </div>
        </div>
        <div class="center box">
          <div style="padding-top: 21px;"></div>
          <div class="content">
           <ul style="text-align: center;">
             <li><a href="#">Ana Sayfa</a></li>
             <li><a href="#">Araçlarımız</a></li>
             <li><a href="#">Araç Kiralama Sistemimiz Nasıl İşliyor?</a></li>
             <li><a href="#">S.S.S</a></li>
           </ul>

          </div>
        </div>
        <div class="right box">
          <h2>Benimle İletişime Geçin</h2>
          <div class="content">
            <form action="#">
              <div class="email">
                <div class="text-white">Email *</div>
                <input type="email" required />
              </div>
              <div class="msg">
                <div class="text-white">Message *</div>
                <textarea rows="2" cols="25" required></textarea>
              </div>
              <div class="btn">
                <button class="btn" type="submit">Gönder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div style="text-align: center">
          <span class="text-white">
            Tüm Hakları Saklıdır. Copyright 2021
            <i class="fa fa-copyright"></i> SPORTS RENT A CAR
          </span>
        </div>
      </div>
    </footer>
  </body>
</html>
