<div class="container">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Brand Update</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="brandUpdateForm">
          <div class="form-group">
            <input
              class="form-control m-2"
              type="hidden"
              id="brandId"
              [(ngModel)]="brandId"
              formControlName="brandId"
            />
            <label class="form-label m-2">Brand Name</label>
            <input
              class="form-control m-2"
              [(ngModel)]="brandName"
              type="text"
              id="brandName"
              formControlName="brandName"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button id="btn1" class="btn btn-fill btn-success" (click)="update()">
          Update
        </button>
        <button
          id="btn2"
          class="btn btn-fill btn-secondary"
          (click)="backToList()"
        >
          Go Back
        </button>
      </div>
    </div>
  </div>
</div>
