<div class="content">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h5 class="title text-center">Araba sil</h5>
          </div>
          <div class="card-body">
              <form [formGroup]="carDeleteForm">
                  <div class="mb-3">
                      <label for="carId" style="display: none;"><b>Car Id</b></label>
                      <input type="number" id="carId" formControlName="carId" class="form-control" [(ngModel)]="carId" style="display: none;" />
                  </div>
              </form>

              <table class="table container">
                  <thead>
                      <tr>
                          <th>Car Id</th>
                          <th>Brand</th>
                          <th>Car Name</th>
                          <th>Color</th>
                          <th>Model Year</th>
                          <th>Daily Price</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngIf="car">
                          <td>{{car.carId}}</td>
                          <td>{{brandName}}</td>
                          <td>{{car.carName}}</td>
                          <td>{{colorName}}</td>
                          <td>{{car.modelYear}}</td>
                          <td>{{car.dailyPrice}}</td>
                      </tr>
                  </tbody>

              </table>

          </div>
          <div class="card-footer">
            <button class="btn btn-fill btn-dark" (click)="backToList()">
              Go Back
            </button>
            <button
              class="btn btn-fill btn-danger"
              style="float: right"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-bs-backdrop="static"
            >
              Delete
            </button>
          </div>
      </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Car</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this car?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">I'm sure Delete </button>
      </div>
    </div>
  </div>
</div>
