<div class="row">
  <div class="col-md-4">
    <div class="mb-3">
      <select
        [(ngModel)]="selectedBrandId"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected disabled value="null">Chose Brand</option>
        <option *ngFor="let brand of brands" [value]="brand.brandId">
          {{ brand.brandName }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mb-3">
      <select
        [(ngModel)]="selectedColorId"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected disabled value="null">Chose Color</option>
        <option *ngFor="let color of colors" [value]="color.colorId">
          {{ color.colorName }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mb-3">
      <button
        type="button"
        [class]="changeButtonClass()"
        (click)="changeRouteLink()"
        id="btn1"
      >
      <i class="fa fa-filter"></i> Filter
      </button>
      <button class="btn btn-danger me-3" id="btn2" routerLink=""><i class="fa fa-trash"></i> Clear</button>
    </div>
  </div>
</div>
