<div class="content" style="margin-top: 25px;">
  <div class="card">
    <div class="card-header">Car Update Panel</div>
    <div class="card-body">
      <form [formGroup]="carUpdateForm">
        <div class="mb-3">
          <div class="form-group">
            <input type="hidden" formControlName="carId" [(ngModel)]="carId"/>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group">
            <label class="form-label" for="carName">Car Name</label>
            <input type="text" class="form-control" formControlName="carName" [(ngModel)]="carName"/>

          </div>
        </div>
        <div class="mb-3">
          <div class="form-group">

            <label class="form-label" for="brandName">Brand</label>
            <select class="form-select" aria-label="Default select example" formControlName="brandId">
               <option selected disabled value="">---Chose Brand---</option>
              <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>

            </select>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group">
            <label class="form-label" for="colorName">Color</label>
            <select class="form-select" aria-label="Default select example" formControlName="colorId">
               <option selected disabled value="">---Chose Color---</option>
              <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>

            </select>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group">
            <label class="form-label" for="modelYear">Model Year</label>
            <input
              type="text"
              id="modelYear"
              formControlName="modelYear"
              class="form-control"
              [(ngModel)]="modelYear"
              placeholder="model year"
            />
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group">
            <label class="form-label" for="dailyPrice">Daily Price</label>
            <input
              type="number"
              id="dailyPrice"
              [(ngModel)]="dailyPrice"
              formControlName="dailyPrice"
              class="form-control"
              placeholder="daily price"
            />
          </div>
        </div>
        <div class="mb-3">
          <div class="form-group">
            <label class="form-label" for="description">Description</label>
          <textarea [(ngModel)]="description" class="form-control" id="description" rows="3" formControlName="description" placeholder="description"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div  class="card-footer">
      <button type="button" class="btn btn-success" (click)="update()">Update</button>
    </div>
  </div>
</div>

